<p style="color: green"><%= notice %></p>
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"></p>
    <%= @article.body %></p>
  <%= link_to "Back to articles", articles_path, class: "btn btn-primary" %>
</div>
</div>
